{% extends "base.html" %}
{% block heading%}Driver catalog{%endblock%}
{% block sub_heading %} You can add/delete and edit your drivers {%endblock%}
{% block content %}
<div class="card mb-4 p-1">
  <div class="card-header">
      <i class="fas fa-chart-area me-1"></i>
      Add Drivers
  </div>
  <form method="POST" action="{% url 'add_drivers' %}"> {% csrf_token %}
    <div class="form-group m-2">
      <label for="formGroupExampleInput">First Name</label>
      <input type="text" name="first_name" class="form-control"  placeholder="Enter first name">
    </div>

    <div class="form-group m-2">
      <label for="formGroupExampleInput2">Last Name</label>
      <input type="text" name="last_name" class="form-control"  placeholder="Enter last name">
    </div>
    <div class="form-group mb-2">
      <label for="illness_select">Select Car</label>

      <select name="car" id="car_select"  class="form-control">
        {% for db in db %}
        <option value="{{ db.id }}">{{db.model}}</option>
        {% endfor %}
      </select>
      
    </div>
   
    
    
    <div class="form-group m-2">
    <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>






{% endblock %}