{% extends 'base.html' %}
{% block heading %}
Drivers catalog
{% endblock %}

{% block sub_heading %}
<i>Drivers DB</i>
{% endblock %}

{% block content %}
<h3>Drivers and available cars are listed below</h3>

<div class="card mb-4">
    
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Driver        <button type="button" class="btn btn-primary" style="margin-left: 20px;">
            <a href="{% url 'add_drivers'%}"><h6 style="color: aliceblue;">Add Driver</h6></a>
        </button>
    </div>
<div class="card-body">
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Cars</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Cars</th>
            </tr>
        </tfoot>
        <tbody>
            {% for db in db%}
            <tr>
                <<th>{{db.first_name}}</th>
                <th>{{db.last_name}}</th>
                <th>{% for db in db.car.all %}
                    <p>{{db}}</p>
                    {%endfor%}
                </th>
                
                <th><button type="button" class="btn btn-primary">
                    <a href="edit/{{db.id}}/">Edit</a>
                </button></th>
                <th><button type="button" class="btn btn-danger"><a href="delete/{{db.id}}/">Delete</a></button></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}